<%- include("../partials/header")%>

<div class="container" style="width:30%;">
<form action ="/campground/<%= camp._id %>/comment" method="POST">
  <!-- Heading -->
  <div class="form-group">
	<h1>New Comment</h1>
  </div>
  <!-- Comment-content -->
  <div class="form-group">
    <label for="exampleInputEmail1">Text</label>
    <input tpye="text" name="comment[Text]"  class="form-control" id="exampleInputPassword1" placeholder="Text">
  </div>
  <!-- Submit button -->
  <div class="form-group">
  	<button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <!-- Link to Index page -->
	<p><a href="/camping">Go Back</a></p>
</form>

<%- include("../partials/footer")%>