
/* All Pages */
	/* background color  */
	body{
		background-color : #d9dedb;
	}
	/* alert messages */
	#alert{
		margin-top: 2rem ;
		margin-bottom: 0 ;
	}
/* All Pages */

/* Index page  */
	.thumbnail .caption.Title{
		padding : 0;
	}
	.InfoButton{
		width : 90%;
	}
/* Index page  */

/* Show Page */
	/* campgrund image settings */
	.thumbnail>img{
		margin : 0;
		padding : 0.4rem;
		width : 100%;
	}
	.thumbnail{
		padding: 0;
		border: 3px solid #c1c7c3;
	}
	/* aligning comment setion with campgrund show page */
	.Comments{
		padding: 0;
	}
	/* aligning Edit and Delete buttons horizontally */
	.delete-form{
		display : inline;
	}
	/* for Camp-name and Price*/
	strong{
		font-size : 20px;
	}
/* Show Page */
