<%- include("../partials/header")%>


<div class="container" style="width:30%;">
<form action ="/camping" method="POST">
<!-- Header -->
  <div class="form-group">
	<h1>New Campground</h1>
  </div>
<!-- Camp name -->
  <div class="form-group">
    <label for="exampleInputEmail1">Camp name</label>
   <input tpye="text" name="campName"  class="form-control" id="exampleInputPassword1" placeholder="Camp Name">
  </div>
<!-- Camp cost per day -->
  <div class="form-group">
    <label for="exampleInputEmail1">Camp Cost Per Day ($)</label>
   <input tpye="text" name="campCost"  class="form-control" id="exampleInputPassword1" placeholder="Camp Cost">
  </div>
<!-- Camp Image URL -->	
  <div class="form-group">
    <label for="exampleInputPassword1">Camp image URL</label>
    <input tpye="text" name="campURL"  class="form-control" id="exampleInputPassword1" placeholder="Camp image URL">
  </div>
<!-- Camp Description -->
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input tpye="text" name="campDesc"  class="form-control" id="exampleInputPassword1" placeholder="description">
  </div>
<!-- Submit Button -->
	<div class="form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
	</div>
	<p><a href="/camping">Go Back</a></p>
</form>



<%- include("../partials/footer")%>